.box
{
    color:black;
    margin-left:530px;
    margin-top:300px;
   border:ridge;
   height:auto;
   width: 450px;;
   border-color: black;
   border-radius: 20px;
   background-color: lavender;
   box-shadow: 10px 10px lightblue;

}
.set
{
    text-align: center;
}